<!-- KItCodeを使用して、FontAwesomeを導入 -->
<script src="https://kit.fontawesome.com/41e38c5826.js" crossorigin="anonymous"></script>

<div class="container">
  <div class="row">
    <div class="col-lg-5 mx-auto m-2">
      <h1 class="text-dark">welcome to<i class="fa-solid fa-book"></i><strong>Bookers</strong>!!</h1>
      <p class="text-dark">In<i class="fa-solid fa-book"></i><strong>Bookers</strong>,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>

      <!-- ボタン設定 -->
      <div class="d-grid gap-10 mx-auto">
        <a class="btn btn-info mb-3" href="/users/sign_in" role="button">Log in</a><br>
        <a class="btn btn-success" href=" /users/sign_up" role="button">Sign up</a>
      </div>
    </div>
  </div>
</div>
