<!-- KItCodeを使用して、FontAwesomeを導入 -->
<script src="https://kit.fontawesome.com/41e38c5826.js" crossorigin="anonymous"></script>

<div class="container">
  <div class="row">
    <div class="col-lg-5 mx-auto m-2">
      <h1 class="text-dark bg-light m-2">welcome to<i class="fa-solid fa-book"></i><strong>Bookers</strong>!!</h1>
    </div>
  </div>
</div>
